<div class="container text-center">
<h1>About Baobei sushi</h1>
<p>This is Baobei sushi. We are a new start-up Sushi in Göteborg and we've started this webpage mainly as a way for you, our customer, to contact us.</p>
</div>